<h1>New Files Found on August 28, 2017</h1>
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>P2P - 93,543 Files</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie category="P2P"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Dark Web - 352,903 Files</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie category="Dark Web"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Web - 46,871 Files</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie category="Web"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Carding Site - 1,249 Files</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie category="Carding Site"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>IRC - 7 Files</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie category="IRC"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Social Media - 104 Files</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie category="Social Media"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Hacking Site - 41 Files</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie category="Hacking Site"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Web Scraper Social Media - No Files</nb-card-header>
      <nb-card-body>
          Nothing to Display
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>DNC Email Web Archive - No Files</nb-card-header>
      <nb-card-body>
        Nothing to Display
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Other - No Files</nb-card-header>
      <nb-card-body>
          Nothing to Display
      </nb-card-body>
    </nb-card>
  </div>
</div>
